.to-top {
  position:fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.footer-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 0.2em 0.2em 0;
  cursor: pointer;
}

.circle-icon {
  background: red;
  color: white;
  font-size: 30px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  align-items: center;
  line-height: 15px;
  vertical-align: middle;
  padding:30px;
  transition: transform 0.5s;
  opacity: 0.5;
}


.footer-icon:hover i {
  transform: translateY(-25%);
  opacity: 1;
}